<header class="header">
	<div class="container header__container">
		<img src="./img/logo.avif" alt="Логитип pulstar" class="header__logo" />
		<div class="header__side-right">
			<nav class="nav" title="Навигационная панель">
				<ul class="nav__list list-reset">
					<li class="nav__item">
						<a href="#" class="nav__link">Home</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">About</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Journal</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Shop</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Contact</a>
					</li>
				</ul>
			</nav>
			<button class="header__btn btn-reset">Buy Template</button>
			<div class="header__basket">
				<img
					loading="lazy"
					src="./img/basket.svg"
					class="image header__icon header__icon-basket"
					width="17"
					height="17"
					alt="Иконка корзины"
				/>
				<span class="header__counter">0</span>
			</div>
		</div>
	</div>
</header>
