<section class="hero">
	<div class="container hero__container">
		<div class="hero__side hero__side-left">
			<h3 class="hero__title">
				Shop hundreds of enamel pins from artists.
			</h3>
			<div class="hero__container-btns">
				<button class="btn-reset hero__btn">Shop everything</button>
				<button class="btn-reset hero__btn hero__btn-transparent">
					Browse collections
				</button>
			</div>
		</div>
		<div class="hero__side hero__side-right">
			<div class="swiper">
				<div class="swiper-wrapper hero__container-slider">
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/herosliderimg1.webp"
							class="image hero__image"
							width="768"
							height="562"
							alt="Изображение на слайде"
						/>
					</div>
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/herosliderimg1.webp"
							class="image hero__image"
							width="768"
							height="562"
							alt="Изображение на слайде"
						/>
					</div>
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/herosliderimg1.webp"
							class="image hero__image"
							width="768"
							height="562"
							alt="Изображение на слайде"
						/>
					</div>
				</div>
				<ul class="list-reset swiper-pagination hero__pagination"></ul>
			</div>
		</div>
	</div>
</section>
